    <div class="row" id="about">
       <div class="col-12 text-center">
         <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
           <ol class="breadcrumb">
             <li class="breadcrumb-item active"><a href="#">About</a></li>
           </ol>
         </nav>
       </div>
     <div class="col-6 pt-5"> 
             <h1 class="text-wrap text-white display-1 text-left">TANMAY MEHTA</h1>
             <blockquote class="blockquote"><footer class="blockquote-footer">Web Developer</footer>
             </blockquote>
     </div>
     <div class="col-6 pt-5 mb-5">
      <p class="lead text-white"><em class="fa fa-location-arrow fa-fw fa-2x"></em>53, Parvati nagar soc,Harni road,Vadodara,Gujarat,India</p>
      <p class="lead text-decoration-underline  text-white"><em class="fa fa-envelope fa-fw fa-2x" ></em>mehtatanmay11@gmail.com</p>
      <p class="lead text-white"><em class="fa fa-address-book fa-fw fa-2x" ></em>+91 7284840660</p>
      <p class="lead text-white text-decoration-underline"><em class="fa fa-linkedin fa-fw fa-2x" ></em>https://www.linkedin.com/tanmay78</p>
     </div>
     <div class="col-12">
        <p class="lead text-white">If both Frontend and Backend development appeal to you, you could consider becoming a Full-Stack Developer.
         Full-stackers take care of both the <mark>front-end</mark> and the <mark>back-end</mark>, and need to know how the web works on all levels, in order to determine how the client- and server-sides will relate. Naturally working up to this level of expertise will take longer, as there is more to learn.</p>
     </div>
