<div class="row">
    <div class="col-12" id="project">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="about">About</a></li>
        <li class="breadcrumb-item"><a href="education">Education</a></li>
        <li class="breadcrumb-item"><a href="skills">Skills</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
      </ol>
    </nav>
    <table aria-describedby="pro" class="table table-success table-stripped p-5">
      <thead>
        <tr>
          <th>definition</th>
          <th>video</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          
          <td><u>1)Vehicle Allocation System</u>
          <ul>
            <li>
            employee request to admin for booking
            car.if reason isvalid then admin allot
            the car & driver to employee
            </li>
          </ul>
        </td>
        
  
          <td>
            <video width="290px" height="150px" controls>
              <source [src]="myvideo2" type="video/mp4">
              <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
              <track label="Deutsch" kind="captions" srclang="de" src="resources/myvideo-de.vtt">
              <track label="Español" kind="captions" srclang="es" src="resources/myvideo-es.vtt">
            </video>
          </td>
        </tr>
        <tr class="table-secondary">
          <td><u>2)A2Z AbodeStuff</u>
          <ul>
            <li>
            This webapplication works as an interface and allow the service provider to contact to the customes & provides the household services. <br>
            </li>
          </ul>
          </td>
          <td>
            <video width="300px" height="150px" autoplay loop>
              <source [src]="myvideo1" type="video/mp4">
              <track label="English" kind="captions" srclang="en" src="resources/myvideo-en.vtt" default>
              <track label="Deutsch" kind="captions" srclang="de" src="resources/myvideo-de.vtt">
              <track label="Español" kind="captions" srclang="es" src="resources/myvideo-es.vtt">
              </video>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
   </div>
  